<h1>Add an artist below.</h1>

<form action="/new_artist" method="post">
  <label for="artist">Artist:</label>
  <input id="artist" name="artist" type="text">
  <button type="submit">Add Artist!</button>
</form>
